<section class="card">
  <a href="/painting/{{id}}">
    <img src="/images/{{filename}}" alt="{{description}}" />
    <div class="card-body">
      <div class="painting-details">
        <h3>{{title}}</h3>
        <p>By: {{artist}}</p>
      </div>
    </div>
  </a>
</section>